@charset "UTF-8";
/*CSS */
* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

body {
	background: white;
	margin: 0;
	font-family: optima, times;
}

h2 {
	padding: 0px 20px 0px 20px;
	text-align: center;
}

h2.titlenotes {
	margin: 20px;
}

h3 {
	text-align: center;
	font-weight: normal;
}

nav ul {
	margin: auto;
	text-align: center;
	background-color: #333;
	overflow: hidden;
}

/* black background to navigation */

/* links inside the navigation bar */
ul.navigation li {
	float: center;
	padding: 16px 16px;
	font-size: 17px;
	display: inline-block;
	margin: 0px;
}

ul.navigation a:link {
	text-decoration: none !important;
	margin: auto;
	text-align: center;
}

ul.navigation li a {
	color: white;
}

ul.navigation a.active {
	color: #FFC0CB;
	text-decoration: none !important e;
}

ul.navigation li:hover {
	background-color: #A9A9A9;
	text-decoration: underline;
}

ul.navigation li a:hover {
	background-color: #A9A9A9;
}

nav {
	background: #333;
	padding-left: 28px;
}

ul li {
	color: black;
	padding: 20px 15px 0px 15px;
	text-decoration: none;
	margin: 0;
	list-style-type: circle;
	display: list-item;
	margin-left: 2em;
}

li a {
	color: black;
	margin: 0;
	display: block;
}

li a:hover {
	background-color: #b8efbe;
	color: black;
}

div {
	margin: 50px;
	height: 10px;
}

div.about {
	padding: 0px 70px 0px 70px;
	line-height: 1.6;
	margin: 10px 70px 10px 70px;
}

div.notes {
	margin: auto;
	line-height: 1.6;
}

div.ytlink {
	text-align: center;
	padding: 15px;
	margin: 0;
}

footer.return {
	padding-bottom: 15px;
}

/* Image grid style */
#imagegrid {
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	list-style: none;
	background-color: #000;
}

#imagegrid li {
	display: inline-block;
	width: 25%;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* wrapper for each img */
.grid-cell {
	margin: 12px;
	display: block;
	position: relative;
	overflow: hidden;
}

/* image layer */
.grid-img {
	display: block;
	width: 100%;
	height: auto;
	border: none;
	transform: scale(1);
	transition: all 1s;
	color: #474e59;
}

#imagegrid li:hover .grid-img {
	transform: scale(1.05);
}

/* overlay layer */
.grid-overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #54a7d8;
	background-size: 50px 50px;
	opacity: 0;
	filter: alpha(opacity = 0); /*For IE6 - IE8*/
	transition: all 0.6s;
}

#imagegrid li:hover .grid-overlay {
	opacity: 0.8;
}

/* captions */
.grid-text {
	color: white;
	opacity: 0;
	transform: translateY(15px);
	transition: all .4s;
	display: block;
	padding: 0 30px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Optima', times;
	font-weight: normal !important;
	top: 40%;
}

#imagegrid li:hover .grid-text {
	transform: translateY(0px);
	opacity: 0.9;
}